<% layout('../common/index-layout.ejs') -%>
<script src="/app/index/index.js"></script>
<style>
	.abc{
		/* padding-top: 70px;
		padding-bottom: 40px; */
		background-color: rgb(72, 4, 129);
    	background-image: linear-gradient(to left top, rgb(255, 116, 0) 0%, rgb(255, 95, 54) 25.75%, rgb(255, 91, 63) 30.28%, rgb(255, 42, 186) 89.19%, rgb(255, 42, 187) 89.22%, rgb(255, 33, 209) 100%);
	}
	</style>
<section id="index-gamebox-section" class="abc">
	<div id="hide-1" ng-show="isWaitingRank">
		<div class="waiting-rank-box">Waiting a rank... <i class="cancel-rank-btn fa fa-2x fa-times pull-right" ng-click="cancelRank()"></i></div>
	</div>
	<div class="container" style="padding-top:50px">
		<div class="row margin-bt-20">
			<div class="col-sm-6 game-box-wraper" href="#practice-box-modal" data-toggle="modal">
				<div class="game-box-header-wrapper header-wrapper-practice">
					<div class="row">
						<div class="col-xs-0 col-sm-3 padding-r-0 game-box-mode-icon-wrapper">
							<img src="/images/modes/interview.svg" class="game-box-mode-icon">
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="game-box-header">
								<h2 class="-bold">Practice</h2>
								<div class="game-box-hr"></div>
								<div>Prepare for technical interviews using real interview questions from top companie</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="game-box-footer">
						<div>Chung toi dang co <span class="label label-danger">12789</span> cau hoi cho ban luyen tap</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 game-box-wraper">
				<div class="game-box-header-wrapper header-wrapper-rank" ng-click="requestRank()">
					<div class="row">
						<div class="col-xs-0 col-sm-3 padding-r-0 game-box-mode-icon-wrapper">
							<img src="/images/modes/tournament.svg" class="game-box-mode-icon">
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="game-box-header">
								<h2 class="-bold">Rank</h2>
								<div class="game-box-hr"></div>
								<div>Prepare for technical interviews using real interview questions from top companie</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="game-box-footer">
						<div><button class="btn btn-primary" href="#rank-history-modal" data-toggle="modal" ng-click="loadHistoryRank()">Top 10 & history</button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 game-box-wraper" data-toggle="modal" data-target="#friend-game-modal" ng-click="loadFriendHistory()">
				<div class="game-box-header-wrapper header-wrapper-friendgame">
					<div class="row">
						<div class="col-xs-0 col-sm-3 padding-r-0 game-box-mode-icon-wrapper">
							<img src="/images/modes/head2head.svg" class="game-box-mode-icon">
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="game-box-header">
								<h2 class="-bold">Play with friend</h2>
								<div class="game-box-hr"></div>
								<div>Prepare for technical interviews using real interview questions from top companie</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="game-box-footer">
						<div>Chung toi dang co <span class="label label-danger">12789</span> cau hoi cho ban luyen tap</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 game-box-wraper">
				<div class="game-box-header-wrapper header-wrapper-test" data-toggle="modal" data-target="#test-box-modal">
					<div class="row">
						<div class="col-xs-0 col-sm-3 padding-r-0 game-box-mode-icon-wrapper">
							<img src="/images/modes/arcade.svg" class="game-box-mode-icon">
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="game-box-header">
								<h2 class="-bold">Test</h2>
								<div class="game-box-hr"></div>
								<div>Prepare for technical interviews using real interview questions from top companie</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="game-box-footer">
						<div><button class="btn btn-primary" href="#test-history-modal" data-toggle="modal" ng-click="loadHistoryTest()">Test history</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
(function() {
	// XU LY DON GIAN CHO THANG PRACTICE
	$('#practice-box-modal-play-btn').click(function(){
		var url = window.location.origin + '/practice/' + $('#practice-box-modal-jlpt').val() + '/' + 
			$('#practice-box-modal-type').val();
		window.location.href = url;
	});
})();
</script>

