<div class="mobile-nav">
	<%- partial ('../../common/basic-header.ejs') %>
</div>
<section class="white-text custom-section">
	<div class="container">
		<center>
			<h2>Ban da kick hoat tai khoan thanh cong</h2>
		</center>
		<%- partial ('../../common/intro-mode.ejs') %>
	</div>
</section>
<%- partial ('../../common/footer.ejs') %>
<style type="text/css">
	.custom-section{
		padding-top: 70px;
		padding-bottom: 40px;
		background-color: rgb(72, 4, 129);
    	background-image: linear-gradient(to left top, rgb(255, 116, 0) 0%, rgb(255, 95, 54) 25.75%, rgb(255, 91, 63) 30.28%, rgb(255, 42, 186) 89.19%, rgb(255, 42, 187) 89.22%, rgb(255, 33, 209) 100%);
	}
	.navbar-login-register-li{
		display: none !important;
	}
</style>